body {
    background-color: #D1D0CE;
}

h1 {
	text-align: center;
    color: #DD4132;
   
}
h2 {
    color: #DD4132;
    font-size: 32px;
}
h3 {
    color: #DD4132;
    font-size: 24px;
}
h4 {
    
    font-size: 18px;
}
h5{
    color: #DD4132;
    font-size: 18px;
}

 table {
    width: 70%;
}

th {
	 border: 1px solid black;
    height: 70px;
}
td {
   border: 1px solid black;
}
hr{
   border-width: 5px;
}
img{
	width: 80px;
}
